<app-carrousel></app-carrousel>
<app-side-bar></app-side-bar>
<!-- <app-side-bar></app-side-bar> -->
<div class="container">
    <main class="main">
        <header>
            <div class="container">
                <div class="title">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-6">
                            <h1>SevenSoft<span>7</span></h1>
                        </div>
                        <div class="col-md-4 text-right">
                            <a href="#">LOGO</a>
                        </div>
                    </div>
                </div>
                <div class="subtitle">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-2">
                            <h3>texto</h3>
                        </div>
                        <div class="col-md-2">
                            <h3>Texto</h3>
                        </div>
                        <div class="col-md-2">
                            <h3>Texto</h3>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="section san-francisco">
            <div class="absolute">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2 class="rellax" data-rellax-speed="-3">
                                <div class="imgFundo"></div>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <app-objetivo></app-objetivo> -->

            <div class="container">
                <div class="row">
                    <div class="col s6 offset-s6"><span class="flow-text"></span></div>
                    <div class="col s6 offset-s6"><span class="flow-text"></span></div>
                    <div class="col s6 offset-s6"><span class="flow-text"></span></div>
                    <div class="col s6 offset-s6">
                        <h1 class="flow-text rellax" data-rellax-speed="2">Projeto</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12"><span class="flow-text"></span>
                    </div>
                    <div class="sh-shape borda rellax" data-rellax-speed="2" style="transform: rotate(45deg);">
                    </div>
                </div>
                <div class="row">
                    <div class="col s12"></div>
                    <div class="col s6"></div>
                    <div class="col s6"></div>
                </div>
            </div>
            <div class="absolute">
                <div class="container">
                    <div class="col s12 rellax" data-rellax-speed="4">This div is 12-columns wide on all screen sizes
                    </div>
                    <div class="col s6 rellax" data-rellax-speed="4">6-columns (one-half)</div>
                    <div class="col s6 rellax" data-rellax-speed="4">6-columns (one-half)</div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="row">
                        <div class="col s12">This div is 12-columns wide on all screen sizes
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">This div is 12-columns wide on all screen sizes
                        </div>
                    </div>
                </div>
                <br><br><br>
                <div class="row">
                    <div class="col s12"><span class="flow-text">This div is 12-columns wide on all screen sizes</span>
                    </div>
                    <div class="col s6 offset-s6"><span class="flow-text">6-columns (offset-by-6)</span></div>
                </div>
            </div>
            <app-objetivo></app-objetivo>
        </section>
    </main>
</div>
<app-footer></app-footer>