<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/user" routerLinkActive="active"><i class="fas fa-gamepad"></i>Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user/add" routerLinkActive="active"><i class="fas fa-plus-circle"></i>Incluir usuario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active"><i class="fas fa-plus-circle"></i>Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active"><i class="fas fa-plus-circle"></i>Dashboard</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->






<div id="body">
  <header class="headder">
    <nav class="navigation" (click)="navBar()">
      <section class="navigation_icon">
        <span class="topBar"></span>
        <span class="middleBar"></span>
        <span class="bottomBar"></span>
      </section>
      <ul class="navigation_ul">
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/teste">Objetivo</a></li>
        <li><a routerLink="/servicos">Serviços</a></li>
        <li><a routerLink="/projeto">Projeto</a></li>
        <li><a routerLink="/contato">Contato</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/cadastro">Cadastro</a></li>
      </ul>
    </nav>
  </header>