<!-- <div class="container">
  <div class="col-md-6 col-md-offset-3 loginBox">
    Welcome, {{id}}
    <a href="javascript:void(0);" (click)="logout()">Logout</a>
  </div>
</div> -->
<div class="wrapper">
    <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
        <app-side-bar-dashboard></app-side-bar-dashboard>
        <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-panel">
        <app-nav-bar-dashboard></app-nav-bar-dashboard>
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let hardware of hardware">
                        <div class="card card-stats">
                            <div class="card-header card-header-warning card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">content_copy</i>
                                </div>
                                <p class="card-category">CPU</p>
                                <h3 class="card-title">{{hardware.nome_processador}}
                                    <small>{{hardware.fabricante}}</small>
                                </h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">cached</i>
                                    <a href="">Atualizar</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let hardware of hardware">
                        <div class="card card-stats">
                            <div class="card-header card-header-success card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">s#tore</i>
                                </div>
                                <p class="card-category">Fabricante</p>
                                <h3 class="card-title">{{hardware.nome_processador}}
                                    <small>{{hardware.fabricante}}</small>
                                </h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">cached</i>
                                    <a href="">Atualizar</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-danger card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">i#nfo_outline</i>
                                </div>
                                <p class="card-category">??</p>
                                <h3 class="card-title">??</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">cached</i>
                                    <a href="">Atualizar</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-info card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">#</i>
                                </div>
                                <p class="card-category">??</p>
                                <h3 class="card-title">??</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">cached</i>
                                    <a href="">Atualizar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>






                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-chart">
                            <div class="container">
                                <!-- <div class="card-header card-header-success"> -->
                                <div *ngIf="chartTemperaturaCPU">
                                    <canvas id="canvas">
                                        {{chartTemperaturaCPU}}
                                    </canvas>
                                </div>
                                <!-- </div> -->
                            </div>
                            <!-- <div class="card-header card-header-success">
                                    
                                </div> -->
                            <div class="card-body">
                                <h4 class="card-title">??</h4>
                                <p class="card-category">
                                    <span class="text-success"><i class="fa fa-long-arrow-up"></i> ?? </span> ??</p>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">access_time</i> updated 4 minutes ago
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-chart">
                            <div class="container">
                                <!-- <div class="card-header card-header-danger"> -->
                                <div *ngIf="chartMemoriaRam">
                                    <canvas id="memoriaRam">
                                        {{chartMemoriaRam}}
                                    </canvas>
                                </div>
                                <!-- </div> -->
                            </div>
                            <!-- <div class="card-header card-header-warning">
                                    <div class="ct-chart">
                                    </div>
                                </div> -->
                            <div class="card-body">
                                <h4 class="card-title">??</h4>
                                <p class="card-category">??</p>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">access_time</i> updated 4 minutes ago
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-chart">
                            <div class="card-header card-header-danger">
                                <div class="ct-chart" id="completedTasksChart"></div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">??</h4>
                                <p class="card-category">??</p>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">access_time</i> updated 4 minutes ago
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-plain">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title mt-0"> #</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead class="">
                                                <th>
                                                    ID
                                                </th>
                                                <th>
                                                    Nome
                                                </th>
                                                <th>
                                                    Usuario
                                                </th>
                                                <th>
                                                    Organizadora
                                                </th>
                                                <th>
                                                    Status
                                                </th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        1
                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        2
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        3
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        4
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        5
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        6
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>

            <app-footer-dashboard></app-footer-dashboard>
        </div>
    </div>
</div>