<app-navigation></app-navigation>
<site-nav-bar></site-nav-bar>

<main class="main">
    <header>
        <div class="container">
            <div class="title">
                <div class="row">
                    <div class="col-md-offset-1 col-md-6">
                        <h1>SevenSoft<span>7</span></h1>
                    </div>
                    <div class="col-md-4 text-right">
                        <a href="#">LOGO</a>
                    </div>
                </div>
            </div>
            <div class="subtitle">
                <div class="row">
                    <div class="col-md-offset-1 col-md-2">
                        <h3>texto</h3>
                    </div>
                    <div class="col-md-2">
                        <h3>Texto</h3>
                    </div>
                    <div class="col-md-2">
                        <h3>Texto</h3>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="section san-francisco">
        <div class="absolute">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="rellax" data-rellax-speed="-3">
                            <div class="imgFundo"></div>
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="absolute above">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-1 col-md-2">
                        <div class="col-md-1">
                            <div class="titulo-projeto-borda rellax" data-rellax-speed="2">
                                <h1 id="">Objetivo</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
        </div>
    </section>

    <!-- <section class="section san-francisco">
        <div class="absolute">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="rellax" data-rellax-speed="-3">
                            <div class="imgFundo"></div>
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="absolute above">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-1 col-md-2">
                        <div class="col-md-1">
                            <div class="titulo-projeto-borda rellax" data-rellax-speed="2">
                                <h1 id="">Objetivo</h1>
                                <site-footer id="objetivo"></site-footer>
                            </div>
                        </div>
                        <div class="lg-green borda rellax" data-rellax-speed="2" style="transform: rotate(45deg);">
                            <div id="img"></div>
                        </div>
                        <div class="sm-green rellax" data-rellax-speed="5" style="transform: rotate(45deg);">
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="projeto-texto pBorda rellax" data-rellax-speed="2">
                            <div id="pTexto">Somos uma empresa de inovações em softwares de monitoramento.</div>
                        </div>
                    </div>
                    <div class="colunaDois col-md-1">
                        <div class="projeto-textoDois pBorda rellax" data-rellax-speed="3">
                            <div id="pTexto">Veja a total capacidade que seus dispositovs estão oferecendo.</div>
                        </div>
                    </div>
                    <div>
                        <div class="imgUm img-fluid rellax" data-rellax-speed="3">
                            <img class="img-fluid" alt="imagem responsiva" src="../../../assets/2.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="row">
                <div class="col-md-offset-1 col-md-5">
                    <div class=" date">
                        <h4 class="textoDois">Nosso serviço tem a capacidade de monitorar</h4>
                        <h4 class="textoDoisDois">todos os componentes do seu computador</h4><br>
                    </div>
                </div>
                <div class="textoCinco col-md-offset-1 col-md-4">
                    <h4 class="textoTres">e com isso<br>
                        podemos oferecer a melhor solução para você</h4>
                </div>
                <div class="temp col-md-offset-1">
                    <img style="width: 10%" src="../../../assets/img/trophy.svg" class="imgDois img-fluid">
                    <h1 class="tempNumero rellax" data-rellax-speed="2">Projeto</h1>
                </div>

            </div>
        </div>
    </section>

    <section class="section">
    </section>
    <section class="section">
        <div style="margin-top: 200px">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h4 class="textoQuatro fontTexto">
                            Um problema dos dias de hoje são máquinas muito potentes<br>
                            que não tem um cuidado adequado e com isso perdem sua total <br>
                            capacidade de desempenho</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="text-editor">
                            <span class="purple">
                                <p class="green">
                                    Construir uma relação de confiança e resultados
                                </p>
                            </span>
                            <span class="white">Nossa Missão</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center" style="margin-top:80px">
                        <h4>Serviços</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="text-editor">
                            <code>
                            &lt;div <span class="purple">class</span>="<span class="green">Analytics</span>"&gt;<br>
                            <span class="white">&nbsp;&nbsp;Transformamos números em ações de inteligência, 
                            aproveitando o grande potencial de melhoria de resultados dos computadores.</span><br>
                            &lt;/div&gt;
                          </code>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center" style="margin-top:40px">
                        <h4>texto</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="text-editor">
                            <code>
                            &lt;div <span class="purple">class</span>="<span class="green">Desempenho</span>"<br>
                            <span class="white">&nbsp;&nbsp;Com o uso de nosso serviços você terá um maior 
                            controle sobre o que vem reduzindo o potencial que seu computador pode oferecer.</span><br>
                            &lt;/div&gt;
                          </code>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="section">
        <div class="absolute above" style="pointer-events: none;">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-1 col-md-2">
                        <div class="bt-green rellax" data-rellax-speed="5" style="transform: rotate(45deg);">
                        </div>
                    </div>
                    <div class="col-md-offset-0 col-md-1">
                        <div class="md-dixonandmoe rellax" data-rellax-speed="2" style="transform: rotate(45deg);">
                        </div>
                    </div>

                    <div class="col-md-offset-5 col-md-1">
                        <div class="md-twitter rellax" data-rellax-speed="1" style="transform: rotate(45deg);">
                        </div>
                    </div>

                    <div class="col-md-1">
                        <div class="md-facebook rellax" data-rellax-speed="3" data-rellax-percentage="0.5"
                            style="transform: rotate(45deg);">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="copy" style="margin-top: 200px;margin-bottom: 500px">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-1 col-md-6">
                        <h4>SERIOUSLY, WHY?!</h4>
                        <p>Come on, how boring is the internet without excessive javascript? We made this library since
                            too many github repos are abandoned (RIP skrollr) or feature creepy. You got some beef or
                            caught us slippin on unit tests, send rants and 10mb gifs to <a
                                href="mailto:moe@dixonandmoe.">moe@dixonandmoe.com</a></p>
                    </div>
                </div>
                <div class="row" style="margin-top: 140px">
                    <div class="col-md-offset-5 col-md-6">
                        <h4>BUT ACTUALLY</h4>
                        <p>We've benefitted so much from open source projects that we're actively trying to give back.
                            As designers, we're starting by releasing our own quirky js code.</p>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
</main>