<div id="body">
  <header id="header">
    <nav class="navigation">
      <section class="navigation_icon">
        <span class="topBar"></span>
        <span class="middleBar"></span>
        <span class="bottomBar"></span>
      </section>
      <ul id="active" class="navigation_ul">
        <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
        <li><a routerLink="/objetivo" routerLinkActive="active">Objetivo</a></li>
        <li><a routerLink="/servicos" routerLinkActive="active">Serviços</a></li>
        <li><a routerLink="/projeto" routerLinkActive="active">Projeto</a></li>
        <li><a routerLink="/contato" routerLinkActive="active">Contato</a></li>
        <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
        <li><a routerLink="/cadastro" routerLinkActive="active">Cadastro</a></li>
        <!-- <li><a class="pointer" (click)="logout()">Sair</a></li> -->
      </ul>
    </nav>
  </header>
</div>